<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/login">
    <input type="text" id="username" name="username" placeholder="Usuario" required />
    <input type="password" id="password" name="password" placeholder="Contrasena" required />
    <button type="submit">Ingresar</button>
    </form>

</body>
</html>
