body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4a90e2, #145da0);
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
}

form {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px; 
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.6);
}

button {
    padding: 12px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: rgb(61, 124, 61);
}
